<div class="jumbotron text-center">
    <h1>生鮮快取</h1>
    <p class="lead">提供您最安全安心的商品 </p>
    <div>
      <a routerLink="/register" class="btn btn-primary">Register</a>
      <a href="#" class="btn btn-default">Login</a>
    </div>
</div>
  
<div class="row">
  
    <div class="col-md-6">
      <div class="thumbnail" style="width: 100%; height: 400px;">
        <img src="http://imgs8.iaweg.com/pic/HTTP3BpYzMyLm5pcGljLmNvbS8yMDEzMDgwNy8yMzU5Nzc3XzE4MzgwNDQyNzE1NF8yLmpwZwloglog.jpg" alt="placeholder image" width="200" height="200">
        <div class="caption">
          <h3>私廚</h3>
          <p>盤子裡的那一味
            是投入了多少堅持完成的料理
            盡顯私廚獨一無二的手藝</p>
          <li>食材上架</li>
          <li>訂單管理</li>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-6">
      <div class=thumbnail style="width: 100%; height: 400px;"> 
        <img src="https://thumbs.dreamstime.com/z/%E8%87%AA%E7%94%B1%E4%BA%A4-%EF%BC%8C%E5%BF%AB%E9%80%9F%E7%9A%84%E4%BA%A4-%EF%BC%8C%E5%AE%B6%E5%BA%AD%E4%BA%A4-%EF%BC%8C%E8%87%AA%E7%94%B1%E8%BF%90%E8%BE%93%EF%BC%8C-%E5%B0%8F%E6%97%B6%E4%BA%A4-%EF%BC%8C%E4%BA%A4-%E6%A6%82%E5%BF%B5%EF%BC%8C%E5%BF%AB%E9%80%92-66769469.jpg" alt="Generic placeholder image" width="200px" height="200px">
        <div class=caption>
          <h3>住戶</h3>
          <p>輕鬆點選，馬上擁有 </p>
          <li>訂單管理</li>
          <li>聯繫賣家</li>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-6">
      <div class=thumbnail style="width: 100%; height: 400px;"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5Tdf5O1TeV_VUFPvDlQqdtJMjNxm1rsUVD_mcPTOGJMMjgOwy0Q" alt="Generic placeholder image" width="300" height="300">
        <div class=caption>
          <h3>快取</h3>
          <p>隨乎隨到</p>
          <li>快速到貨</li>
          <li>查詢訂單資訊</li>
        </div>
      </div>
    </div>
 

    <div class="col-md-6">
      <div class=thumbnail style="width: 100%; height: 400px;"> <img src="http://www.fsobee.com/sysadm/kindeditor/test/attached/image/20170308/20170308170811_55326.jpg" alt="Generic placeholder image" width="300" height="300">
        <div class=caption>
          <h3>生鮮市集</h3>
          <p>線上下單，到府取貨</p>
          <li>生鮮上架</li>
          <li>訂單管理</li>
        </div>
      </div>
    </div>
  
 
  
</div>